In [ ]:
# Introduction to iterating through numpy arrays

In [1]:
import numpy as np

In [2]:
a = np.arange(11)**2 # square of all numbers till 11 excluding 11 as the last number is excluded

In [3]:
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [ ]:
# for loop to print numbers 1-11

In [4]:
for i in a:
    print(i**(1/2))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [9]:
students = np.array([['Deepika','Lavanya','Satya','Siva'],[65,70,54,66],[71,82,79,92]])

In [10]:
students

array([['Deepika', 'Lavanya', 'Satya', 'Siva'],
       ['65', '70', '54', '66'],
       ['71', '82', '79', '92']], dtype='<U7')

In [11]:
print(students)

[['Deepika' 'Lavanya' 'Satya' 'Siva']
 ['65' '70' '54' '66']
 ['71' '82' '79' '92']]

In [12]:
for i in students: # To print array values in neat and structured manner for better understanding
    print('a=',i)

a= ['Deepika' 'Lavanya' 'Satya' 'Siva']
a= ['65' '70' '54' '66']
a= ['71' '82' '79' '92']

In [13]:
for element in students.flatten(): #To print array values in row wise flattening form also known as c order
    print(element)

Deepika
Lavanya
Satya
Siva
65
70
54
66
71
82
79
92

In [ ]:
# Forton order flattening (arrange values column wise)

In [14]:
for element in students.flatten(order='F'):
    print(element)

Deepika
65
71
Lavanya
70
82
Satya
54
79
Siva
66
92

In [15]:
x = np.arange(12).reshape(3,4)

x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
# In the above case we see that the order of elements are row wise. Default iteration order is always row wise
# (i.e) C order

In [16]:
for i in np.nditer(x): # C order (row wise) - refer line 15 of array order
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [17]:
for i in np.nditer(x,order = 'F'): # Forton order (column wise) - refer line 15 of array order
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11